*.class
/target/pr*
/target/te*
/src/main/webapp/Soft
/src/main/webapp/WEB-INF/classes
toto*
caca*
deploy
.classpath
.project
.settings
.settings
.settings
.settings
.settings
.settings
.settings
.settings
target
*-log
